/.metadata/


/RemoteSystemsTempFiles/

/lotofacil/target/

/lotofacil/.settings/

/lotofacil/.classpath

/lotofacil/.project
/moira/.settings/

/moira/target/

/moira/.classpath

/moira/.project